<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Atm interfac</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>indexValidation</display-name>
    <servlet-name>indexValidation</servlet-name>
    <servlet-class>com.atm.indexValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexValidation</servlet-name>
    <url-pattern>/indexValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withhdrawValidation</display-name>
    <servlet-name>withhdrawValidation</servlet-name>
    <servlet-class>com.atm.withhdrawValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withhdrawValidation</servlet-name>
    <url-pattern>/withhdrawValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmValidation</display-name>
    <servlet-name>confirmValidation</servlet-name>
    <servlet-class>com.atm.confirmValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmValidation</servlet-name>
    <url-pattern>/confirmValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdrawValidation</display-name>
    <servlet-name>withdrawValidation</servlet-name>
    <servlet-class>com.atm.withdrawValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawValidation</servlet-name>
    <url-pattern>/withdrawValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>depositValidation</display-name>
    <servlet-name>depositValidation</servlet-name>
    <servlet-class>com.atm.depositValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>depositValidation</servlet-name>
    <url-pattern>/depositValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registration</display-name>
    <servlet-name>registration</servlet-name>
    <servlet-class>com.atm.registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
</web-app>